span {
    color: red;
}

ion-button {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.centered-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #6a64ff
}