<ion-header>
  <ion-toolbar>
    <ion-title>Hello new user!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="registerNewUser" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      
      <span *ngIf="registerNewUser.get('email')?.touched &&
      registerNewUser.get('email')?.errors?.['required']">Email is required</span>
      <span  *ngIf="registerNewUser.get('email')?.dirty &&
      registerNewUser.get('email')?.errors?.['email']">Invalid format</span>
     
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
            
            <span *ngIf="registerNewUser.get('password')?.touched &&
            registerNewUser.get('password')?.errors?.['required']">Password is required</span>
            <span *ngIf="registerNewUser.get('senha')?.dirty &&
            registerNewUser.get('password')?.errors?.['minlength']">Password must be 8 characteres</span>
            
            <ion-item>
      <ion-label position="floating">Password confirmation</ion-label>
         <ion-input type="password" formControlName="confPassword"></ion-input>
      </ion-item>
       
        <span *ngIf="registerNewUser.get('confPassword')?.touched &&
        registerNewUser.get('confPassword')?.errors?.['required']">Password confirmation is required</span>
        <span  *ngIf="registerNewUser.get('confPassword')?.dirty &&
        registerNewUser.get('confPassword')?.errors?.['minlength']">Password confirmation must be 8 characteres</span>
        <span *ngIf="registerNewUser.get('confPassword')?.dirty &&
        (registerNewUser.get('password')?.value != registerNewUser.get('confPassword')?.value)">Passwords don't match</span>
       
      <ion-button expand="full" color="success" type="submit">Cadastrar</ion-button>
    </form>
  </ion-list>
</ion-content>
